.page-link {
    position: relative;
    display: block;
    color: black;
    background-color: black;

  
    &:hover {

      color: black;
      background-color: black;
    }
  
    &:focus {
      z-index: 3;
      color: black;
      background-color: black;

    }
  }
  
  .page-item {

  
    &.active .page-link {

      color: black;

    }
  
    &.disabled .page-link {
      color: black;

      background-color: black;

    }
  }